@import url("modules/base.css");
@import url("modules/fonts.css");
@import url("modules/buttons.css");
@import url("modules/form.css");
@import url("modules/messages.css");
@import url("modules/condition.css");
@import url("modules/modal.css");
@import url("modules/voucher.css");
@import url("modules/steps.css");

* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    box-sizing: border-box;
    outline: none;
    font-family:SantanderTextW05-Regular;
}
strong{
    font-family:SantanderTextW05-Bold;
    font-weight: bold;
}
.bg-std-grey{
    background: #f0f0f0;
}
.separador-linea{
    height: 1px !important;
    background-color: #DDD;
    margin: 0;
    padding: 0;
}

.simulacion-fogape{
    margin: 10px auto;
    max-width: 850px;
}
.detalle-fogape{
    margin: 15px auto 0px;
}
.detalle-fogape > p{
    font-size: 18px;
    font-family:SantanderTextW05-Regular;
    line-height: 20px;
    color:#444;
    padding: 15px;
    text-align: center;
}
.detalle-fogape > span{
    font-family:SantanderTextW05-Regular;
    display: block;
    font-size: 12px;
    color: #444;
    padding: 0 15px 10px;
    line-height: 16px;
    text-align: center;
}
.detalle-fogape > h2{
    font-family:SantanderTextW05-Regular;
    font-size: 36px;
    font-weight: 400;
    color: #444;
    line-height: 36px;
    padding-bottom: 15px;
    text-align: center;
}
.detalle-fogape > ul{
    list-style: none;
}
.detalle-fogape > ul > li{
    display: inline-block;
    vertical-align: top;
    width: 24.6%;
    padding: 15px;
}
.detalle-fogape > ul > li > div{
    font-size: 14px;
    color: #444;
    line-height: 16px;
}
.detalle-fogape > ul > li > div:first-child{
    font-family:SantanderTextW05-Bold;
    font-weight: bold;
    padding-bottom: 5px;
}
.modulo-seguro{
    margin-bottom: 25px;
}
.modulo-seguro > ul{
    list-style: none;
    padding:15px;
}
.modulo-seguro > ul > li{
    text-align: center;
    border-bottom: 1px solid #ddd;
    padding:10px;
}
.modulo-seguro > ul > li > div{
    color: #444;
    text-align: left;
    font-size: 14px;
    display: inline-block;
    width: 29%;
    vertical-align: middle;
}
.modulo-seguro > ul > li:first-child > div{
    font-family:SantanderTextW05-Bold;
    font-weight: bold;
    padding-bottom: 5px;
}
.modulo-seguro > ul > li > div > span.srt-desgravament{
    font-size: 24px;
    vertical-align: sub;
    color: #1BB3BC;
    margin-right: 5px;
} 
.modulo-seguro > ul > li > div > a > span.srt-pdf{
    font-size: 24px;
    vertical-align: sub;
    color: #444;
}
.btn-cont > div{
    display: inline-block;
    vertical-align: top;
    width: 49.5%;
    text-align: center;
}
.btn-cont > div:first-child{
    border-right: 1px solid #DDD;
}
.btn-cont button{
    font-family:SantanderTextW05-Bold;
    font-weight: bold;
}
.contextual{
    padding: 15px 0;
}
.modal .srt.srt-email{
    color: #1BB3BC;
}
.btn-end > div{
    display: inline-block;
    width: 49.6%;
    vertical-align: top;
}
.btn-end > div:first-child{
    text-align: left;
}
.btn-end > div:last-child{
    text-align: right;
}
.btn-end .btn-std > span{
    font-size: 15px;
    font-family:SantanderTextW05-Bold;
    font-weight: bold;
}
.btn-end .srt-arrow-left:before{
    font-size: 20px;
    vertical-align: text-bottom;
}
.second-step > p{
    font-size: 16px;
    font-family:SantanderTextW05-Bold;
    font-weight: bold;
    color: #444;
    padding: 15px 0;
}
.cred-con-der > ul{
    list-style: none;
}
.cred-con-der > ul > li > div{
    display: inline-block;
    vertical-align: middle;
}
.cred-con-der > ul > li{
    border-bottom: 1px solid #ddd;
}
.cred-con-der > ul > li.titulos-li > div.t1{
    width: 29%;
    padding: 15px;
    font-size: 14px;
    font-family: SantanderTextW05-Bold;
}
.cred-con-der > ul > li.titulos-li > div.t2{
    width: 18%;
    padding: 15px;
    font-size: 14px;
    font-family: SantanderTextW05-Bold;
}
.cred-con-der > ul > li.titulos-li > div.t3{
    width: 20%;
    padding: 15px;
    font-size: 14px;
    font-family: SantanderTextW05-Bold;
}
.cred-con-der > ul > li.titulos-li > div.t4{
    width: 25%;
    padding: 15px;
    font-size: 14px;
    font-family: SantanderTextW05-Bold;
}
/*---------------------*/
.cred-con-der > ul > li > div.t1{
    width: 29%;
    padding: 10px 15px;
    font-size: 14px;
    font-family: SantanderTextW05-Bold;
}
.cred-con-der > ul > li > div.t1 > .select{
    width: 60%;
}
.cred-con-der > ul > li > div.t2{
    width: 18%;
    padding: 15px;
    font-size: 14px;
    font-family:SantanderTextW05-Regular;
}
.cred-con-der > ul > li > div.t3{
    width: 20%;
    padding: 15px;
    font-size: 14px;
    font-family:SantanderTextW05-Regular;
}
.cred-con-der > ul > li > div.t4{
    width: 25%;
    padding: 15px;
    font-size: 14px;
    font-family:SantanderTextW05-Regular;
}
.cred-con-der > ul > li > div.t5 > a{
    cursor: pointer;
}
.cred-con-der > ul > li > div.t5 span{
    color:#1BB3BC;
    font-size: 26px;
}
.detalle-cred{
    list-style: none;
}
.detalle-cred > li{
    display: inline-block;
    vertical-align: top;
    width: 32.7%;
    padding: 10px;
}
.detalle-cred > li >div:first-child{
    font-family: SantanderTextW05-Bold;
    font-size: 14px;
    color: #444;
}
.detalle-cred > li >div:last-child{
    font-family:SantanderTextW05-Regular;
    font-size: 14px;
    color: #444;
}
.cred-con-der .alert-box{
    margin: 0;
}
.confirma-datos > p{
    font-size: 16px;
    font-family: SantanderTextW05-Bold;
    font-weight: bold;
    color: #444;
    padding: 15px;
}
.input-sim .display-input{
    padding: 15px;
    padding-bottom: 0;
    display: inline-block;
    width: 49.6%;
    vertical-align: top;
}
.display-input.select-fo{
    padding-top: 0px;
    padding-bottom: 15px;
}
.confirmar{
    padding-bottom: 5px;
    text-align: center;
}
.end-contextual{
    padding: 15px;
    padding-bottom: 0px;
}
.end-btn{
    text-align: center;
}
.hidden-block{
    display: none;
}
.cb-st > label{
    display: inherit;
}
.declaracion-margenes > p{
    padding-bottom: 15px;
    font-family: SantanderTextW05-Bold;
    font-size: 16px;
    color: #444;
}
.declaracion-margenes > p > span{
    vertical-align: middle;
    color: #EC0000;
    font-size: 22px;
}
.header-part{
    padding: 15px;
}
.header-part > p{
    display: inline-block;
    margin-bottom: 0;
    vertical-align: super;
    font-size: 16px;
    font-family: SantanderTextW05-Bold;
    font-weight: bold;
    color: #444;
}
.header-part > p.radio-std{
    float: right;
}
.formulario-replica{
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
}
.formulario-replica > .input-rep{
    display: inline-block;
    vertical-align: top;
    width: 49%;
    padding:  0 15px;
}
.btn-agregar{
    text-align: center;
}
.btn-agregar > button > span{
    font-size: 28px;
    vertical-align: text-bottom;
}
.red-box > a > p{
    padding: 15px;
    color: #EC0000;
    font-size: 14px;
    font-family: SantanderTextW05-Bold;
}
.red-box > a > p > span{
    font-size: 22px;
    vertical-align: text-top;
}
.red-box > a > p > span.srt-arrow-right{
    float: right;
}
.red-box .cb-st{
    margin-top: 15px;
    padding-bottom: 15px;
}
.declaracion-salud > p{
    padding-bottom: 15px;
    font-family: SantanderTextW05-Bold;
    font-size: 16px;
    color: #444;
}
.preexistencias > .radio-std{
    margin-bottom: 0;
    border-bottom: 1px solid #ddd;
    padding-bottom: 13px;
}
.preexistencias > .radio-std.last-ch{
    padding-top: 10px;
}
.conocer-condiciones > p{
    font-size: 16px;
    padding: 15px;
    font-family: SantanderTextW05-Bold;
    font-weight: bold;
    color: #444;
}
.conocer-condiciones > a{
    padding: 15px;
    display: block;
    color: #EC0000;
    font-family: SantanderTextW05-Bold;
}
.conocer-condiciones > a > span{
    font-size: 22px;
    vertical-align: text-top;
}
.declarar-preexistencia{
    display: none;
    padding: 15px;
}
.erase-form{
    padding: 15px;
    text-align: right;
}
.erase-form > a{
    color: #444;
    font-size: 14px;
    font-family:SantanderTextW05-Regular;
}
.erase-form > a > span{
    font-size: 22px;
    color: #EC0000;
    vertical-align: middle;
}
@media (max-width:850px){
    .simulacion-fogape{
        margin: 10px;
    }
}
@media (max-width:670px){
    .detalle-fogape > ul > li{
        width: 49.5%;
    }
    .cred-con-der > ul > li.titulos-li > div.t1{
        width: 28%;
    }
    .cred-con-der > ul > li > div.t1{
        width: 28%;
    }
    .cred-con-der > ul > li > div.t1 > .select{
        width: 114%;
    }
    .input-sim .display-input{
        width: 100%;
        padding-bottom: 0;
    }
    .btn-cont > div{
        width: 100%;
    }
    .btn-cont > div:first-child{
        border-right: none;
        border-bottom: 1px solid #ddd;
    }
    .btn-end > div{
        width: 100%;
        text-align: center !important;
    }
    .cred-con-der > ul > li > div.t5{
        padding: 15px;
    }
    .modulo-seguro > ul > li > div > span.srt-desgravament{
        display: none;
    }
    .select-fo{
        margin-bottom: 15px;
    }
}

/*NO PRINT*/
@media print{
    .no-print{
        display: none;
    }
}