
/* condiciones*/
.box {
  background-color: white;
  box-shadow: 0 0px 4px 0 rgba(25, 25, 25, 0.2);
  border-radius: 4px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.box__head {
  padding: 15px;
  border-bottom: solid 1px #dddddd;
  position: relative;
  cursor:pointer;
}

.box__head p {
  font-size: 14px;
  font-family:SantanderMicroTextW01-Bold;
}

.box__head .srt {
  color: #EC0000;
  font-size: 39px;
  line-height: 0px;
  position: absolute;
  right:5px;
  top:25px;
}
.box__body {
  padding: 0;
  line-height: 120%;
}
.js-accordion--active .box__body{
 
}
.box__body--conditions {
  font-size: 12px;
  line-height: 16px;
  padding: 15px;
  text-align: justify;
  font-family:SantanderMicroTextW01-Rg;
}
.js-accordion.js-accordion--active .box__head .srt {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  top:20px;
}


/**/