
/*input*/
.input-std{
  position: relative;
  height: 70px;
  margin-bottom: 15px;
}
.input-std > *, .input-std-textarea > *, .input-search > *{
  transition: ease-out .2s;
  -webkit-transition: ease-out .2s;
  -o-transition: ease-out .2s;
}
.input-std > input{
  height: 50px;
  width: 100%;
  color: #444;
  font-size: 17px;
  border: none;
  border-radius: 4px 4px 0 0;
  border-top: 1px solid #DEEDF2;
  border-left: 1px solid #DEEDF2;
  border-right: 1px solid #DEEDF2;
  padding: 0px 0 0 15px;
  background-color: #F7FBFC;
  font-family: SantanderTextW05-Regular;
}
.input-std > .msj-input{
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 15px;
  bottom: 0;
  color: #444;
  font-family: SantanderTextW05-Regular;
}
.input-std > .msj-input-error{
  font-size: 14px;
  font-family: SantanderTextW05-Regular;
  font-weight: 400;
  position: absolute;
  left: 15px;
  bottom: 0;
  opacity: 0;
}
.input-std > .linea-input{
  position: absolute;
  height: 1px;
  top: 50px;
  left: 0;
  width: 100%;
  background-color: #257FA4;
}
.input-std-textarea > .linea-input{
  position: absolute;
  height: 1px;
  bottom: 5px;
  left: 0;
  width: 100%;
  background-color: #257FA4;
}
.input-std > input:focus ~ .linea-input, .input-std-textarea > textarea:focus ~ .linea-input{
  height: 2px;
}
.input-std > label, .input-std-textarea > label{
  position: absolute;
  top: 14px;
  left: 15px;
  font-size: 17px;
  font-weight: 400;
  color: #767676;
  cursor: text;
  font-family: SantanderTextW05-Regular;
}

.input-std > input:focus, .input-std > input:valid{
  padding-top: 11px;
}
.input-std > input:focus ~ label, .input-std > input:valid ~label{
  font-size: 12px;
  top: 5px;
}
.input-std > input.invalid ~ .msj-input-error{
  opacity: 1;
}
.input-std > input.invalid ~ .linea-input{
  background-color: #CC0000
}
.input-std > input.invalid ~ label, .input-std > input.invalid ~{
  color: #CC0000;
}
.input-std > input.invalid ~ .msj-input, .input-std > input.invalid ~ .msj-input-error, .input-std > input.invalid ~ label{
  color: #CC0000;
}
.input-std > .codz, .input-std > .sigPeso{
  position: absolute;
  top: 19px;
  left: 15px;
  font-family: SantanderTextW05-Regular;
  font-size: 17px;
  font-weight: 400;
  color: #767676;
  opacity: 0;
}
.input-std > input.telefono{
  padding-left: 45px;
}
.input-std > input.monto{
  padding-left: 25px;
}
.input-std > input.telefono:focus ~ .codz, .input-std > input.telefono:valid ~ .codz, .input-std > input:focus ~ .sigPeso, .input-std > input:valid ~ .sigPeso{
  opacity: 1;
}
.input-std > input.telefono.invalid ~ .msj-input{
  opacity: 0;
}
.input-std-textarea{
  position: relative;
  height: auto;
  margin-bottom: 25px;
}
.input-std-textarea > textarea{
  height: 50px;
  width: 100%;
  resize: none;
  color: #444;
  font-size: 17px;
  border: none;
  border-radius: 4px 4px 0 0;
  border-top: 1px solid #DEEDF2;
  border-left: 1px solid #DEEDF2;
  border-right: 1px solid #DEEDF2;
  padding: 15px 10px 10px 15px;
  background-color: #F7FBFC;
  font-family: SantanderTextW05-Regular;
}
.input-std-textarea > textarea:focus, .input-std-textarea > textarea:valid{
  padding: 24px 10px 15px 15px;
  height: 63px;
}
.input-std-textarea  > textarea:focus ~ label, .input-std-textarea > textarea:valid ~ label{
  font-size: 12px;
  top: 5px;
}
.input-std-textarea > .contador-text{
  position: absolute;
  right: 0;
  font-size: 14px;
  color: #444;
  bottom: -18px;
}
.input-search{
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}
.input-search > input{
  padding: 0px 40px 0px 15px;
  background-color: #F7FBFC;
  border: 1px solid #CEDEE7;
  border-radius: 35px;
  font-size: 17px;
  line-height: 24px;
  min-width: 272px;
  height: 48px;
  font-family: SantanderTextW05-Regular;
}
.input-search > input:focus{
  border: 2px solid #9BC3D3;
}
.input-search > span{
  position: absolute;
  top: 50%;
  right: 12px;
  margin-top: -12px;
  font-size: 25px;
  color: #EC0000;
}
.input-wicon ~ [class*=" str-"],
.input-wicon ~ [class^=str-],
.input-wicon ~ [class*=" srt-"],
.input-wicon ~ [class^=srt-]{
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -21px;
  font-size: 25px;
  color: #444;
}
.input-wicon ~ [class*=" str-"]:after,
.input-wicon ~ [class^=str-]:after,
.input-wicon ~ [class*=" srt-"]:after,
.input-wicon ~ [class^=srt-]:after{
  content: "";
  position: absolute;
  border-left: 1px solid #CEDEE7;
  width: 1px;
  height: 26px;
  background-color: #CEDEE7;
  display: block;
  top: 0;
  left: -15px;
}
.input-wicon {
  padding-right: 56px !important;
}
/*fin input*/

/*select*/

.select {
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.select label {
  font-size: 1.0625rem;
  position: absolute;
  top: 13px;
  padding-left: 0.75rem;
  left: 0;
  transition: 0.5s;
  color: #767676;
}

.select label.label--active {
  font-size: 0.75rem;
  top: 0.3125rem;
  color: #767676;
}
.select i.down {
  border: solid #EC0000;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  position: absolute;
  right:18px;
  top:16px;
}

.select ul {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: #fff;
  border: 1px solid #DEEDF2;
  border-radius: 4px;
  max-height: 200px;
  overflow-y: scroll;
  cursor: pointer;
  display: none;
  padding: 5px;
}

.select ul li {
  display: block;
}
.select ul li:first-child {
  height:0px;
  overflow: hidden;
}

.select ul li a {
  display: block;
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  color: #444444;
  padding: 8px 15px;
}

.select ul li a.active, .select ul li a:hover {
  background-color: #1BB3BC;
  color:#fff;
  border-radius: 4px;
}

select::-ms-expand {
  display: none;
}

.select--style select {
  pointer-events: none;
}

.select__input {
  background-color: #F7FBFC;
  position: relative;
  cursor: pointer;
}

.select__input select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  color: #444444;
  border:0px;
  height:49px;
  border-radius: 4px 4px 0 0;
  border-top: 1px solid #DEEDF2;
  border-left: 1px solid #DEEDF2;
  border-right: 1px solid #DEEDF2;
  border-bottom: solid 1px #CEDEE7;
  background-color: transparent;
  font-size: 1.0625rem;
  padding-right: 55px;
  padding-left: 0.75rem;
  padding-bottom: 5px;
  padding-top: 20px;
}

.select__input select:focus ~ label {
  font-size: 0.75rem;
  top: 0.3125rem;
  color: #767676;
}

.select__input select:focus ~ .select__line {
  visibility: visible;
  width: 100%;
  left: 0%;
}
.select__input:after{
    display: block;
    width:1px;
    height:25px;
    background:#CEDEE7;
    content:'';
    position: absolute;
    right: 46px;
  top: 12px;
}

 

.select__input .select__line {
  background-color: #9BC3D3;
  bottom: 0px;
  content: '';
  height: 2px;
  left: 45%;
  position: absolute;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  visibility: hidden;
  width: 10px;
}

.select__input .select__line.line--active {
  visibility: visible;
  width: 100%;
  left: 0%;
}

.select__input.select__input--error .select__line {
  background-color: #CC0000;
  height: 1px;
  visibility: visible;
  width: 100%;
  left: 0%;
}

.select__error {
  font-size: 0.875rem;
  color: #CC0000;
  padding: 0.2rem 0 0 0.75rem;
}

/*fin select*/


/*CHECKBOX*/
.cb-st > *{
  transition: all ease-out .2s;
  -webkit-transition: all ease-out .2s;
  -moz-transition: all ease-out .2s;
  -o-transition: all ease-out .2s;
}
.cb-st{
  padding-bottom: 25px;
  padding-left: 15px;
}
.cb-st > label{
  position: relative;
}
.cb-st > label::before{
  position: absolute;
  content: "";
  top: 12px;
  left: 8px;
  width: 5px;
  height: 5px;
  border-radius: 25px;
  border: 0px black;
  background-color:inherit;
  transition: all ease-out .2s;
  -webkit-transition: all ease-out .2s;
  -moz-transition: all ease-out .2s;
  -o-transition: all ease-out .2s;
}
.cb-st > label:hover::before{
  background-color: #f2f2f2;
  width: 47px;
  height: 47px;
  top: -13px;
  left: -13px;
}
.cb-st > label:active::before{
  background-color: #edecec;
}
[type="checkbox"].check-std:not(:checked), [type="checkbox"].check-std:checked{
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
[type="checkbox"].check-std+span{
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  display: inline-block;
  height: 23px;
  color: #444;
  line-height: 20px;
  font-size: 14px;
  font-weight: 400;
  user-select: none;
  font-family: SantanderTextW05-Regular;
}

[type="checkbox"].check-std:checked+span:before{
  top: 0;
  left: 1px;
  width: 4px;
  height: 10px;
  border-top: 2px solid #0000;
  border-left: 2px solid #0000;
  border-right: 3px solid #ADC000;
  border-bottom: 3px solid #ADC000;
  -webkit-transform: rotateZ(37deg);
  transform: rotateZ(37deg);
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
[type="checkbox"].check-std+span:before,
[type="checkbox"].check-std+span:after{
  content: "";
  left: 0;
  position: absolute;
  transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
  -webkit-transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
  z-index: 1;
}
[type="checkbox"].check-std+span:before{
  border: 2px solid #5a5a5a;
  border-radius: 1px;
  margin-top: 3px;
}
[type="checkbox"].check-std:checked+span:after{
  top: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #444;
  background-color: #fff;
  z-index: 0;
  border-radius: 5px;
}
[type="checkbox"].check-std:not(:checked)+span:before{
  width: 0;
  height: 0;
  border: 3px solid #0000;
  left: 6px;
  top: 10px;
  -webkit-transform: rotateZ(37deg);
  transform: rotateZ(37deg);
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
[type="checkbox"].check-std:not(:checked)+span::after{
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 1px solid #444;
  border-radius: 5px;
  top: 0px;
  z-index: 0;
}
[type="checkbox"].check-std:checked:disabled+span:before
{
  border-right: 3px solid #c2c2c2;
  border-bottom: 3px solid #c2c2c2;
}
[type="checkbox"].check-std:checked:disabled+span:after,
[type="checkbox"].check-std:disabled+span:after{
  border: 1px solid #c2c2c2;
  background-color: #f0f0f0;
}
[type="checkbox"].check-std:checked:disabled+span,
[type="checkbox"].check-std:disabled+span{
  color: #c2c2c2
}
[type="checkbox"].check-std:disabled,
[type="checkbox"].check-std:disabled+span{
  cursor: default;
}
/*FIN CHECKBOX*/
/* RADIO BUTTON */
.radio-std{
  margin-bottom: 25px;
  padding-left: 15px;
}
.radio-std > label{
  font-size: 18px;
  color: #6D6D6D;
  position: relative;
}
.radio-std > label > [type="radio"]:not(:checked),
.radio-std > label > [type="radio"]:checked{
  position: absolute;
  opacity: 0;
  pointer-events: none;
  box-sizing: border-box;
  padding: 0;
}
.radio-std > label > [type="radio"]:not(:checked)+span,
.radio-std > label > [type="radio"]:checked+span{
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  padding-top: 0px;
  font-size: 14px;
  line-height: 24px;
  user-select: none;
  font-family:SantanderTextW05-Regular;
}
.radio-std > label > [type="radio"]:not(:checked)+span:before,
.radio-std > label > [type="radio"]:not(:checked)+span:after{
  border: 1px solid #6d6d6d;
}
.radio-std > label > [type="radio"]:checked+span:before{
  border: 1px solid #6d6d6d;
}
.radio-std > label > [type="radio"]:checked+span:after{
  border: 1px solid transparent;
}
.radio-std > label > [type="radio"]:not(:checked)+span:before,
.radio-std > label > [type="radio"]:not(:checked)+span:after,
.radio-std > label > [type="radio"]:checked+span:before,
.radio-std > label > [type="radio"]:checked+span:after{
  border-radius: 50%;
  background: white;
}
.radio-std > label > [type="radio"]+span:before,
.radio-std > label > [type="radio"]+span:after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  margin: 4px;
  width: 16px;
  height: 16px;
  z-index: 0;
  transition: all ease .2s;
  -webkit-transition: all ease .2s;
}
.radio-std > label > [type="radio"]:not(:checked)+span:after{
  -webkit-transform: scale(0);
  transform: scale(0);
}
.radio-std > label > [type="radio"]:checked+span:after{
  -webkit-transform: scale(0.4);
  transform: scale(0.4);
  background-color: #EC0000;
}
.radio-std > label > [type="radio"]:checked:disabled+span:before,
.radio-std > label > [type="radio"]:not(:checked):disabled+span:before{
  border: 1px solid #c2c2c2;
}
.radio-std > label > [type="radio"]:checked:disabled+span:after{
  background-color: #c2c2c2;
}
.radio-std > label > [type="radio"]:not(:checked):disabled+span,
.radio-std > label > [type="radio"]:checked:disabled+span{
  color: #c2c2c2;
}
.radio-std > label::before{
  position: absolute;
  content: "";
  top: 12px;
  left: 8px;
  width: 5px;
  height: 5px;
  border-radius: 25px;
  border: 0px black;
  background-color: inherit;
  transition: all ease-out .2s;
  -webkit-transition: all ease-out .2s;
  -moz-transition: all ease-out .2s;
  -o-transition: all ease-out .2s;
}
.radio-std > label:hover::before {
  background-color: #f2f2f2;
  width: 47px;
  height: 47px;
  top: -8px;
  left: -11px;
}
.radio-std > label:active::before{
  background-color: #edecec;
}
/* FIN RADIO BUTON */