
/* loading*/

@-webkit-keyframes uil-ring-anim {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes uil-ring-anim {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes uil-ring-anim {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes uil-ring-anim {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loading {
  width: 100%;
  height: 40vh;/*cambiar a 100*/
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.loading__animation {
  background: none;
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.loading__animation svg {
  display: inline;
}

.loading__animation > div {
  margin: 0 0 0 -3.4rem;
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 80px;
  box-shadow: 0 2px 0 0 #ec0000;
  -webkit-animation: uil-ring-anim 1s linear infinite;
  animation: uil-ring-anim 1s linear infinite;
}

.loading__text {
  font-size: 1rem;
  padding: 48px 0 0 0;
  text-align: center;
}
.loading__title{
  font-size: 24px ;
  padding-bottom:25px;
  color:#444444;
}
.loading__paragraph{
  font-size: 16px ;
  max-width: 620px;
  padding:0 10px;
  color:#444444;
}

/* fin loading*/